appdirs==1.4.0
astroid==2.4.1
attrs==19.3.0
beautifulsoup4==4.5.3
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.1.2
coverage==5.1
entrypoints==0.3
flake8==3.8.2
idna==2.7
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.4.2
mccabe==0.6.1
more-itertools==8.3.0
olefile==0.44
packaging==16.8
pathspec==0.8.0
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.2
pyparsing==2.1.10
pytest==5.4.3
pytest-cov==2.9.0
regex==2020.5.14
requests==2.20.0
six==1.14.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.24.3
wcwidth==0.2.3
wrapt==1.11.2
